---
layout: default
---

<div class="intro">

  <h4 id="typewriter">
    Public Knowledge is an opinionated design studio. This is our presence on the internet.



    Our team of designers, developers, and strategists make technology that works for humans.
  </h4>
</div>

<div class="home">

  {% assign blog_posts = site.blog | sort: 'date' | reverse %}

  {%- if blog_posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-item">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.blog -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>



<script>
  // loop to iterate through every div with class post-item
  var postItems = document.getElementsByClassName("post-item");
  var delay = .05;
  // for each post item, add an animation delay of .05*n seconds
  for (var i = 0; i < postItems.length; i++) {
    postItems[i].style.animationDelay = delay + "s";
    delay += .05;
  }

  var i = 0;
  var typeBox = document.getElementById("typewriter");
  var txt = typeBox.innerHTML;
  typeBox.innerHTML = "";
  var speed = 20; /* The speed/duration of the effect in milliseconds */

  function typeWriter() {
    if (i < txt.length) {
      typeBox.innerHTML += txt.charAt(i);
      if (txt.charAt(i) == ".") {
        speed = 1000;
      } else if (txt.charAt(i) == " ") {
        speed = 100;
      }
      else {
        speed = 25;
      }
      i++;
      setTimeout(typeWriter, speed);

    }
  }

  window.onload = typeWriter;
</script>