---
layout: default
---

<div class="intro">

  <h5>ABOUT ME</h5>
  <p class="typewriter">
    Public Knowledge is an opinionated design studio. This is our presence on the internet.
  <br>
    Our team of designers, developers, and strategists who make technology work for humans.
  </p>
</div>

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign blog_posts = site.blog | sort: 'date' | reverse %}
  
  {%- if blog_posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in blog_posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>



<script>
  // loop to iterate through every div with class post-item
  var postItems = document.getElementsByClassName("post-item");
  var delay = .05;
  // for each post item, add an animation delay of .05*n seconds
  for (var i = 0; i < postItems.length; i++) {
    postItems[i].style.animationDelay = delay + "s";
    delay += .05;
  }
</script>